-- vim: set ft=lua:
std = "lua51"

-- We generate code so it makes no sense to print error on generated long lines.
max_line_length = false


globals = {
	-- Commands
	"Command", "Script", "Install", "Uninstall", "Package", "Repository",
	"Mode", "Export", "Unexport",
	-- Dependencies
	"Or", "Not",
	-- Utility functions
	"version_cmp", "version_match",
	-- Logging
	"DBG", "INFO", "WARN", "ERROR", "DIE",
	-- File access
	"ls", "stat", "lstat",
	-- Variables
	"root_dir", "self_version", "language_version", "features", "installed",
	"os_release", "host_os_release",

	-- These are commonly provided by updater script on router
	"l10n", "for_l10n",
	-- Package lists have additional standard table: options
	"options",

	-- These are global variables used in lists and defined by utils
	"board", "model", "list_script", "repo_base_uri",

	-- Repository uses global variables to protect against multiple inclusions
	"turris_repo_included",
	-- Drivers lists are using global variable devices to get list of devices
	"devices",
}
